@model IEnumerable<VizitForm.Models.FormDataModel>;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Search";
}
@section Head {<title>Employee Log In Page</title>
    <link rel="stylesheet" href="~/css/app.css" type="text/css" />
}

@using (Html.BeginForm("Search", "Arama", FormMethod.Get))
{
    <p>
        Name: @Html.TextBox("b", ViewBag.FilterValue as int?)
        <input type="submit" value="Filter" />
    </p>
}

<table style="width: auto; padding: 10px;">
    <tr style="background-color: lightgray; padding: 10px;">
        <th>
            Name :
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tc)
            </td>

        </tr>
    }
</table>

